<!DOCTYPE html>
<html lang="{{ site.Language }}" dir="{{ .Language.LanguageDirection | default "auto" }}">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">
    <title>{{ if .IsHome }}{{ site.Title }}{{ else }}{{ printf "%s | %s" .Title site.Title }}{{ end }}</title>
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
    <link href="{{ "css/style.css" | relURL }}" rel="stylesheet">
</head>

<body class="
{{- if (or (ne .Kind `page` ) (eq .Layout `archives`) (eq .Layout `search`)) -}}
{{- print "list" -}}
{{- end -}}
" id="top">
    <main class="main">
        {{- block "main" . }}{{ end }}
    </main>
</body>

</html>
