{{/* layouts/partials/build_ancestor_map.html */}}
{{/*
   Inputs (always include “ctx” = the page context):
     nodes   = []NodeObj
     parents = []string
     ctx     = your page’s “.” so we can use ctx.Scratch
*/}}

{{- $ctx     := .ctx                   -}}
{{- $nodes   := default (slice) .nodes -}}
{{- $parents := default (slice) .parents -}}

{{- range $node := $nodes }}
  {{- $name := $node.name }}

  {{- /* record the node in page‐level Scratch */ -}}
  {{- $ctx.Scratch.Add "allNodes" $name -}}
  {{- $ctx.Scratch.Set $name $parents -}}

  {{- /* build new ancestor slice */ -}}
  {{- $newParents := union $parents (slice $name) -}}

  {{- /* recurse into children, passing ctx along */ -}}
  {{- with $node.children }}
    {{- $kids := default (slice) . -}}
    {{- if gt (len $kids) 0 }}
      {{- partial "build_ancestor_map.html" (dict
           "nodes"   $kids
           "parents" $newParents
           "ctx"     $ctx
         ) -}}
    {{- end }}
  {{- end }}
{{- end }}

{{- /* finally, only at the very top call (parents empty), dump */ -}}
{{- if eq (len $parents) 0 }}
  {{- $all := default (slice) ($ctx.Scratch.Get "allNodes") -}}
{{- end }}
