{{/*
  taxonomy-practice-list.html
  Expects:
    nodes     = [] of { name:string, children: [] }
    practices = [] of enriched practice dicts
*/}}

{{- $practices := .practices }}
{{- $depth := .depth }}
{{- range $node := .nodes }}

    <ul>
        {{/* find all practices that include this element */}}
        {{- $matches := where $practices "elements" "intersect" (slice $node.name) }}
        {{- if eq $depth 0 }}
            <li class="element-name depth{{$depth}}">{{ $node.name }}</li>
        {{- end }}
        {{- if gt (len $matches) 0 }}
        {{- if ne $depth 0 }}
            <li class="element-name depth{{$depth}}">{{ $node.name }}</li>
        {{- end }}
        <ul>

            {{- range $p := $matches }}
              <li>
                <a class="practice-link" href="#practice-{{ $p.date }}">
                  <div class="thumbnail tooltip"
                       style="background-image: url('{{ "/images/" | relURL }}{{ path.Base $p.url }}.jpg');">
                    <span class="tooltiptext">{{ $p.description }}</span>
                  </div>
                  {{ $p.date }}
                </a>
              </li>
            {{- end }}
        </ul>

        {{- end }}
    </ul>
    {{/* recurse into any children */}}
    {{- with $node.children }}
      {{- partial "taxonomy-practice-list.html" (dict
           "nodes"     .
           "practices" $practices
           "depth" (add $depth 1)
         ) }}
    {{- end }}
{{- end }}
